.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 8	0px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-issue-list {
  text-align: left;
  list-style-type: none;
}

.App-Issue-Item-Unclicked {
  background: white;
}

.App-Issue-Item-Clicked {
  background: #a7a6a3;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

